<li class="cards article">
    <div class="txt_area"><span class="title"><%= article.title %></span></div>
    <%= link_to article_path(article) do %>
    <span class="show">詳細を見る</span>
    <% end %>
    </li>