<div class="card article">
    <% if article.photo.present? %>
    <%=  image_tag article.photo.thumb.url, alt: "サムネイル" %>
    <% end %>
        <div class="body_bg"><p><%= safe_join(article.body.split("\n"),tag(:br)) %></p></div>
        <%= link_to article_path(article) do %>
    <span class="data"><%= article.title %></span>
    <% end %>
    </div>