<li class="card article">
    <div class="txt_area"><span class="title"><%= article.title %></span></div>
    <%= link_to article_path(article) do %>
    <span class="show"><i class="material-icons">zoom_in</i></span>
    <% end %>
    </li>