<div class="cards article">
    <% if article.photo.present? %>
    <%=  image_tag article.photo.thumb.url, alt: "サムネイル" %>
    <% end %>
        <div class="body_bg"><p><%= safe_join(article.body.truncate(150).split("\n"),tag(:br)) %></p></div>
        <%= link_to article_path(article) do %>
    <span class="data"><%= article.title.truncate(10) %></span>
    <% end %>
    </div>