
<h1>Articles</h1>

<%= link_to 'New Article', new_article_path %>
<hr>

<div class="item_index_container">
<%= render partial: 'article', collection: @articles, as: "article" %>
</div>

<%= paginate @articles %>