<% content_for :css do %>
<%= stylesheet_link_tag 'index' %>
<% end %>

<div class="index_wrapper">
    
    <h2>ユーザー投稿</h2>
    
    <p>ユーザーのプロフィールと最新の投稿の一覧ページ<br>「詳細を見る」から各ユーザーのメインページへアクセスできます。</p>
    
    <%= render partial: 'user', collection: @users, as: "user" %>
    
</div>

<%= paginate @users %>