<div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "件のエラー") %> により投稿を保存できませんでした:</h2>
      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>