<div class="center_wrapper">
    <h2>「Dsplay」について</h2>
    
    <p>本ページをご覧いただきありがとうございます。<br>
        Dsplay（ディスプレイ）は、個人による開発・運営を行っている創作系投稿サービスです。<br>
        画像投稿、文章投稿、タグ作成など、すべての機能が無料でご利用いただけます。</p>
        
        <p><strong>イラスト・漫画・写真・小説・詩・ブログ・日記</strong>など…使い方は貴方次第&#x2728;<br>
        「創作活動が好き」「自分だけの作品展示スペースがほしい」という方は是非ご利用ください。
        </p>
        
        <h3>推奨環境</h3>
        
        <h4>推奨ブラウザ</h4>
        <p>
        ・Google Chrome<br>
        ・Firefox<br>
        ・Microsoft Edge
        </p>
        
        <p>※サイトのレイアウトが正常に反映されない等の不具合を避ける為、Internet Explorerでの閲覧およびご利用は非推奨とさせていただいております。</p>
        
        <h4>動作確認環境</h4>
        <p>管理者は主に以下の環境でサイトの管理および投稿機能の動作確認を行っています。</p>
        <p>
            デバイス：ノートPC（ Windows ）<br>
            ブラウザ：Google Chrome、Firefox、Microsoft Edge<br>
            ディスプレイ解像度：1366 × 768</p>
        
        <h3>運営について</h3>
        
        <h4>サイト管理者紹介</h4>
        
        <%= image_tag ('admin.jpg'), class: "admin", alt: "管理者アイコン" %>
        <figure class="admin">管理者：mao</figure>
        
        <p>
            「Dsplay」は、<strong>Ruby on Rails</strong> というフレームワークを使用して作られました。<br>
            プログラミング学習の成果を表すものとしてオリジナルのサービスを作りたいと思ったのが、開発のきっかけです。<br>
            創作が好きなので、投稿者の作品の良さが引き立てられるような機能を目指して制作しました。</p>
        <p>
            サイト運営者としてまだまだ未熟ですが、ユーザーの皆様に楽しんでいただけるよう努めていきたいと思っていますので、
            どうぞよろしくお願いします。
        </p>
        
        <p>何かありましたら管理者メールアドレス（info@alice.her.jp）か、お問い合わせフォームよりご連絡下さい。</p>
        
        <%= link_to "ご連絡先", contact_path, class: "a_line" %>
        
        <hr>
        
        <h3>クレジット</h3>
        
        <p>当サイトを作成する上で、多くの素材配布サイト様から画像素材をお借りしました。<br>
        サイトデザインのほか、投稿例の紹介用サンプルとしてイラストや写真を使用させていただいています。<br>
        この場を借りてお礼申し上げます。（リンクは順不同・敬称略）
        </p>
        
        <ul class="contents">
        <li><a href="https://pixabay.com/ja/" target="_blank">Pixabay</a></li>
        <li><a href="https://fc.ashrose.net/" target="_blank">素材屋 flower&clover</a></li>
        <li><a href="https://www.silhouette-ac.com/" target="_blank">シルエットAC</a></li>
        <li><a href="https://simple-repeat.com/" target="_blank">Simple Repeat</a></li>
        </ul>
    
</div>