<% content_for :title do %>
お問い合わせ
<% end %>


<div class="center_wrapper">

<h2>お問い合わせフォーム</h2>
    
    <iframe class="myform" src="https://docs.google.com/forms/d/e/1FAIpQLSe3Rc7aCPwIt60Q5L3sb8BnFkvogBd7D7VeG4t_NndhxS_Y_Q/viewform?embedded=true" width="640" height="885" frameborder="0" marginheight="0" marginwidth="0">読み込んでいます…</iframe>
    <hr>
    <h3>サイトの表示に関する不具合のお問い合わせについて</h3>
    <p>お問い合わせ内容がサイトの表示・レイアウト等についての不具合の場合、<br>
    <em>本ページのフォームからではなく、運営者メールアドレスまで直接お問い合わせください。</em></p>
    <p>
    お問い合わせの際には、お使いのデバイスやブラウザなど閲覧環境を明記の上、該当のページのスクリーンショットも添付していただけますと有り難いです。<br>
    お手数ですが、どうぞよろしくお願いします。
    </p>
    
    <h4>お問い合わせに関する諸注意</h4>
    
    <p>※出来る限り迅速に対応できるよう努めていきたいと思っておりますが、<strong>お問い合わせの内容によっては、回答および不具合への対処に時間がかかる場合があります。</strong>
    </p>
    
    <p>※本サイトをご利用になられる上で、<%= link_to "閲覧を非推奨としているブラウザ", about_path(anchor: "system_requirements"), class: "a_txt" %>での不具合に関するご報告には、原則、対応させていただくことができません。
    あらかじめご了承ください。
    </p>
    
</div>