<div class="center_wrapper">

<h2>ガイドライン</h2>

<p><strong>本ページでは、「Dsplay」をご利用いただく上でユーザーの皆様に守っていただきたい事などについて記載しています。</strong></p>

<p>Dsplayは、ご利用者様のアイデア次第でさまざまな使い方ができるサービスです。<br>
表現の幅を狭めないためにも、あまり詳細な規約を提示するつもりはありませんが、<br>
投稿者にとっても閲覧者にとっても、安心して利用できるサイトにしていくため、最低限のルールのみを守っていただき、楽しくご利用いただければと思います。
</p>

<p>※本ページのガイドラインの内容は、今後の運営状況やご利用者のご意見などに応じて、随時更新および変更されていく場合があります。</p>

<h3>年齢制限コンテンツについて</h3>

<p><strong>「Dsplay」は全年齢向けサイトとなっています。</strong><br>
したがって、年齢制限が必要なアダルトコンテンツの投稿は禁止させていただいています。
</p>

<p>大まかな判断基準としては</p>

<ul class="contents">
    <li><span>閲覧の際に読者に対する注意文や警告が必要か</span></li>
    <li><span>レーティング表記やゾーニングが必要な内容か</span></li>
</ul>

<p>上記の条件に該当するかどうか、投稿者がご自身の投稿を客観的に見て判断をお願いします。</p>

<h3>二次創作について</h3>

<p>版権元によって、二次創作（ファンアート）に関する明確なガイドラインを提示している作品もあれば、そうでない作品もあるかと思います。<br>
ガイドラインが存在する作品の場合、そちらのルールに従って作品の投稿をしていただければと思います。
</p>

<p>そうでない作品の場合、投稿者がご自身の責任、判断で作品の制作および投稿を行ってください。
Dsplayでは二次創作の投稿を特に禁止してはいません。</p>

<h3>投稿での素材の使用について</h3>

<p>当サイトでは、使い方紹介ページや運営アカウントで、
使用例を紹介するサンプルとして、投稿内で素材配布サイト様の画像素材を使用させていただいています。</p>
<p>ユーザーの皆様におきましては、<strong>文章投稿など例外を除き、投稿内でのフリー素材の使用はご遠慮下さいますようお願いします。</strong></p>

<h4>画像投稿</h4>

<p>画像投稿機能は基本的に、投稿者がご自身で撮影した写真や描いたイラストなどをアップロードすることを想定しています。<br>
<strong>たとえ著作権フリーの素材であっても、他者が作成した画像をアップロードすることは、トラブルを避けるためにもご遠慮下さい。</strong>
</p>

<p>※合作やイラスト交換などで、相手の許可を得ている場合であれば他者の作品でも投稿OKです。</p>


<h4>文章投稿</h4>

<p>文章投稿では「イメージ画像」として一つの画像を添付できる機能があります。</p>

<p>小説における挿絵のような役割で、
作品の魅力を引き出すためにご自身のイラストや撮影した写真などを利用するといった使い方ができますが、
その他にも、ブログ記事のヘッダー画像のように、文章のアクセントとして画像を使うという用途もあるかと思います。
</p>

<p>したがって文章投稿では、<strong>著作権フリーの素材であれば、ご自身の作成した画像でなくても利用OKとしています。</strong></p>

</div>