<div class="tag_card">
  <span class="tagname"><%= tag.name %></span>
  
  <% if tag.posts.present? %>
  <ul class="list_item_container">
  <%= render partial: 'posts/post_small', collection: tag.posts, as: "post" %>
  </ul>
  <% end %>
  <% if tag.articles.present? %>
  <ul class="list_item_container">
  <%= render partial: 'articles/article_small', collection: tag.articles, as: "article" %>
  </ul>
  <% end %>
  
  <%= link_to "show more", tag_path(tag), class: "a_line" %>

  </div>