<div class="tag_card">
  <span class="tagname"><%= tag.name %></span>
  
  <% if tag.posts.present? %>
  <ul class="list_item_container">
  <%= render partial: 'posts/post_small', collection: tag.posts.limit(6).order('id DESC'), as: "post" %>
  </ul>
  <% end %>
  <% if tag.articles.present? %>
  <ul class="list_item_container">
  <%= render partial: 'articles/article_small', collection: tag.articles.limit(6).order('id DESC'), as: "article" %>
  </ul>
  <% end %>
  
  <%= link_to "詳細を見る", tag_path(tag), class: "a_line" %>

  </div>