<div style="background: #ccc;">
  <h2>タグ名：<%= tag.name %></h2>
  <%= link_to "Show", tag_path(tag) %>
  <hr>
  
  <% if tag.posts.present? %>
  <ul class="list_item_container">
  <%= render partial: 'posts/post_small', collection: tag.posts, as: "post" %>
  </ul>
  <% end %>
  <% if tag.articles.present? %>
  <ul class="list_item_container">
  <%= render partial: 'articles/article_small', collection: tag.articles, as: "article" %>
  </ul>
  <% end %>

  
  </div>
  <br>