<% content_for :css do %>
<%= stylesheet_link_tag 'tags_index' %>
<% end %>

<div class="tag_cards_container">
 <h2>ユーザー名のタグ一覧ページ</h2>

 <%= render partial: 'tag', collection: @tags, as: "tag" %>
 </div>

<%= paginate @tags %>