<div style="background: pink;">
        タイトル：<%= post.title %><br>
        キャプション：<%= post.caption %><br>
        タグID：<%= post.tag_id %><br>
  <%= link_to "Show", post_path(post) %>
  </div>
  <br>
  