    <div class="cards post">
    <%=  cl_image_tag post.image.thumb, alt: "サムネイル" %>
    <%= link_to post_path(post) do %>
    <span class="data"><%= post.title.truncate(15) %></span>
    <% end %>
    </div>