 <div class="card post">
    <div class="top"><%=  image_tag post.image.grid_index_thumb.url %></div>
    <div class="bottom">
            <%= link_to post_path(post) do %>
            <span><%= post.title %></span>
            <% end %></div>
    </div>