<div class="form_wrapper">
<h2>投稿の編集</h2>

<%= render 'form', post: @post %>

<%= link_to '作品ページにもどる', @post, class: "a_line" %>
<%= link_to 'この投稿を削除', @post, method: :delete, data: { confirm: 'この投稿を削除します。よろしいですか？' }, class: "a_main" %>
</div>
