:root{
    --item-box-w: 75vw;
    --item-c: 3;
}


.item_index_container{
    width: var(--item-box-w);
    display: grid;
    grid-template-columns: repeat(var(--item-c),1fr);
    grid-auto-rows: calc(var(--item-box-w) / var(--item-c));
    grid-gap: 8px;
    margin: 0 auto;
    overflow: hidden;
}

.item_index_container .card{
    position: relative;
    overflow: hidden;
    background: rgba(0,0,0,0.5);
}

/*articleの指定*/

.item_index_container .article img{
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item_index_container .article .body_bg{
    position: absolute;
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
}

.body_bg p{
    color: #fff;
    padding: 20px;
}

/*---------------------------------------*/

/*postの指定*/

.item_index_container .post img{
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

/*---------------------------------------*/

/*aの指定（共通）*/

.item_index_container .card a{
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    opacity: 0;
}

.item_index_container .card a::before{
 content: "";
 width: 100%;
 height: 100%;
 background: linear-gradient(to bottom,transparent,#000);
 display: block;
 position: absolute;
 opacity: 0.5;
}

.item_index_container .card .data{
    color: #fff;
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 5px;
    text-indent: 0.5em;
}

.item_index_container .card a:hover{
    opacity: 1;
}

/*---------------------------------------*/


@media screen and (max-width: 769px) {

:root{
    --item-box-w: 95vw;
    --item-c: 2;
}

}