.show_user_nav{
    background: transparent;
    border: 1px solid;
    border-left: none;
    position: fixed;
    top: calc(var(--navbar-height) + 10px);
    left: 0;
    z-index: 5;
    text-align: center;
    padding: 15px 10px;
    width: calc((100% - 600px) / 2 - 10px);
}

.show_user_nav .show_avator{
    display: block;
    width: 80px;
    height: 80px;
    max-width: 100%;
    background-color: transparent;
    background-image: url("leaf.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 50%;
}

.show_user_nav .show_avator img{
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.show_user_nav .pagetitle{
    display: block;
    font-size: 1.6rem;
    font-weight: bold;
    padding: 7px 1em;
    line-height: 1;
}

.show_user_nav .username{
    display: block;
    font-size: 1.3rem;
}

.show_user_nav .link_box{
    display: flex;
    width: 100%;
    justify-content: center;
}

.show_user_nav .link_box a{
    display: block;
    font-size: 1.1rem;
    padding: 10px 20px;
}

.show_user_nav .link_box a::before{
    display: block;
    font-size: 2.0rem;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}

.show_user_nav .link_box .index::before{
    content: "\f0e2";
}

.show_user_nav .link_box .edit::before{
    content: "\f5ac";
}


@media screen and (max-width:813px) {
    

    .show_user_nav{
        position: static;
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        border: none;
        border-top: 1px solid;
        border-bottom: 1px solid;
        padding: 10px;
    }
    
    .show_user_nav .show_avator{
        margin: 0;
        margin-right: 10px;
        width: 100px;
        height: 100px;
    }
    
    .show_user_nav .right{
        width: calc(100% - 80px);
    }
    
    .show_user_nav .pagetitle{
    padding: 1em;
    font-size: 1.8rem;
    border: 2px solid;
    border-radius: 30px;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.4);
    }
    
    .show_user_nav .username{
        padding: 1em;
    }
    
}
