:root{
    --grid-li-width: 120px;
}

ul.list_item_container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill,var(--grid-li-width));
    grid-auto-rows: var(--grid-li-width);
    grid-gap: 4px;
    margin: 0 auto;
    margin-bottom: 4px;
    overflow: hidden;
}

.list_item_container .cards{
    background: rgba(0,0,0,0.8);
    overflow: hidden;
    position: relative;
    overflow: hidden;
}



/*articleの指定*/

.list_item_container .article .txt_area{
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top,transparent,rgba(255,255,255,0.6));
    text-align: center;
}

.list_item_container .article .txt_area span{
 display: inline-block;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%); /* Safari用 */
  transform: translateY(-50%);
   color: #fafafa;
    font-size: 1.45rem;
    text-shadow: 0 1px 8px #000;
    font-family: var(--font-mincho);
}


/*---------------------------------------*/

/*postの指定*/

.list_item_container .post img{
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/*---------------------------------------*/

/*a部分の指定（共通）*/

.list_item_container .cards a{
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    opacity: 0;
    color: #fff;
}

.list_item_container .cards a .show{
  position: absolute;
  display: inline-block;
  width: 100%;
  bottom: 0;
  display: none;
}

.list_item_container .cards a::after{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f00e";
    display: inline-block;
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 2.5rem;
    padding: 5px;
}


.list_item_container .cards a:hover{
    opacity: 1;
}

/*---------------------------------------*/

@media screen and (max-width: 639px) {

    ul.list_item_container{
      width: 95vw;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: calc(95vw / 3);
    }

}
