.list_item_container{
    list-style-type: none;
    width: 100%;
    margin: 0;
}

.list_item_container li{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    max-height: calc(120px + 20px);
    transition : all 0.5s;
}

.list_item_container li:hover{
    opacity: 0.95;
}

.list_item_container p{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.list_item_container .image_box{
    display: block;
    width: 120px;
    height: 120px;
    overflow: hidden;
    object-fit: contain;
}

.list_item_container .right_data_area{
    width: calc(100% - 120px);
    max-height: 100%;
    overflow: hidden;
}

.list_item_container .small_title{
    display: block;
    line-height: 1;
    font-size: 2.5rem;
    padding: 0.5em 0.75em;
    font-family: var(--font-mincho);
    overflow: hidden;
}

.list_item_container .right_data_area p{
    font-size: 1.5rem;
    padding: 0 1.4em;
}


/*articleの指定-----------------------------------------------*/

.list_item_container .article{
    background: rgba(0,0,0,0.7);
    box-shadow: 4px 4px 10px rgba(0,0,0,0.5);
}

.list_item_container .article .right_data_area a{
    color: var(--ac-color);
}

.list_item_container .article .right_data_area p{
    color: rgba(255,255,255,0.6);
}

.list_item_container .article .dummy{
    background-color: transparent;
    background-image: image_url("small_img.png");
    background-position: center;
}

/*---------------------------------------*/

/*postの指定*/

.list_item_container .post{
    background: rgba(255,255,255,0.7);
    box-shadow: 4px 4px 10px rgba(0,0,0,0.2);
}

.list_item_container .post .right_data_area p{
    color: rgba(0,0,0,0.7);
}


/*---------------------------------------*/

@media screen and (max-width: 568px) {

.list_item_container .right_data_area .small_title{
    font-size: 1.1em;
}

.list_item_container .right_data_area p{
    font-size: 1.0rem;
}

}
