/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require jcrop
 */

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@300&display=swap');
 
:root{
 --ac-color: #8c9eff;
 --main-color: #000;
 --base-color: #eceff1;
 --sub-color: #17184b;
 --navbar-height: 50px;
 --font-mincho: "游明朝", YuMincho, "Hiragino Mincho ProN W3", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", "メイリオ",'Noto Serif JP',serif;
 --font-gothic: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ","Helvetica Neue",Arial,sans-serif;
}

*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 word-break: break-all;
}

html {
    /* ルートのフォントサイズを10pxに設定しておく */
	font-size: 62.5%;
}

body {
	/* ルートのフォントサイズを1.6em（16pxと同等のサイズ）に設定 */
	font-size: 1.6em;
	font-family: var(--font-gothic);
	background: linear-gradient(175deg, #fff 52%, var(--base-color) 52%);
	background-attachment: fixed;
}

body p{
    font-size: 1.68rem;
    margin: 1.5em 0.85em;
    line-height: 1.7;
}

p.right{
    text-align: right;
}

h2,h3{
    font-family: var(--font-mincho);
    padding: 1.6rem;
}

h2{
    font-size: 1.7em;
}

h3{
    font-size: 1.4em;
    line-height: 50px;
}

h3::before{
  content: "";
  display: inline-block;
  background-image: image_url("clo_h.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 50px;
  width: 50px;
  margin-right: 0.8em;
  vertical-align: middle;
}

h4{
  margin: 3em 0;
  padding: 1em;
  background: rgba(255,255,255,0.8);
  box-shadow: 4px 4px 0 var(--base-color);
  font-size: 1em;
  border-left: 5px solid #000;
}

b{
  color: #3e2723;
}

em{
  color: #424242;
  font-style: normal;
  font-weight: bold;
  background: linear-gradient(transparent 50%, rgba(164,213,189,0.6) 50%);
}

strong span{
  border-bottom: 1px dashed;
}

sup{
  font-size: 0.65em;
}

img{
    vertical-align: middle;
}

img.admin{
  display: block;
  margin: 0 auto;
  border-radius: 50%;
}

figure.admin{
  text-align: center;
}

a{
    text-decoration: none;
    color: var(--main-color);
    transition : all 0.5s;
}

a:hover{
    opacity: 1;
    color: var(--ac-color);
}


.a_line{
    display: block;
    width: 95%;
    border: 2px solid;
    padding: 0.8em;
    margin: 1em auto;
    border-radius: 3px;
    text-align: center;
}

.a_main{
    display: block;
    width: 95%;
    padding: 0.8em;
    margin: 1em auto;
    border-radius: 3px;
    text-align: center;
    background: var(--main-color);
    color: #fff;
}

.a_txt{
  text-decoration: underline;
  color: #536dfe;
}

.a_button{
  border-radius: 3px;
  padding: 5px 1em;
  color: #fafafa;
  background: #000;
}

.center_wrapper{
    width: 750px;
    max-width: 100%;
    margin: 0 auto;
    padding: 10px;
}

hr{
  border: none;
  height: 50px;
  width: 100%;
  background-image: image_url("hr.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: 50px auto;
}

.basic_list{
  list-style-type: disc;
  margin: 1em 3em;
  line-height: 1.8;
}

.table{
  border: 1px solid rgba(0,0,0,0.7);
  margin: 2em 0;
  padding: 4px;
}

.table dt{
  background: rgba(0,0,0,0.8);
  color: #fafafa;
  padding: 0.7em 1em;
}

.table dd{
  padding: 0.7em 1em;
  color: rgba(0,0,0,0.8);
}


/*使い方ページ---------------------------------*/

.howto img{
    width: 450px;
    max-width: 100%;
    display: block;
    margin: 0 auto;
    margin-bottom: 1em;
    border: 2px solid var(--ac-color);
    border-radius: 10px;
    overflow: hidden;
}

.howto h3{
  margin: 0;
  padding: 50px 1em;
}

.contents{
  margin: 0 auto;
  padding: 1em;
  width: 95%;
  background: rgba(0,0,0,0.6);
  list-style-type: none;
}

.contents li{
  line-height: 2.8;
}

.contents li::before{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-right: 1em;
    content: "\f058";
}

.contents li a{
  color: #fff;
}

.contents span{
  color: #fafafa;
}

.contents ol{
  margin: auto 0 auto 3em;
  list-style-type: lower-roman;
}

.contents ol li a{
  color: #c5cae9;
  padding-left: 0.6em;
}

.contents ol li:before{
  display: none;
}

/*問い合わせフォーム--------------------------------------------------*/

.myform{
  max-width: 100%;
  margin: 0 auto;
}

/*マイページ設定-----------------------------------------------------*/

.mypage_nav{
    list-style-type: none;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.mypage_nav li{
    width: calc(50% - 10px);
    border: 1px solid;
    border-radius: 4px;
    margin: 5px;
    padding: 1em;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 0.9em;
    font-weight: bold;
}

.mypage_nav li img{
    height: 120px;
    max-width: 100%;
    margin: 0 auto;
    margin-bottom: 5px;
    display: block;
    object-fit: contain;
    filter: sepia(5%);
}



/*flashのnotice,alertのdivの指定-------------------*/

.flash_box{
    padding: 1em;
    background: rgba(0,0,0,0.8);
    position: fixed;
    top: var(--navbar-height);
    left: 0;
    width: 100%;
    z-index: 99;
}

.flash_box p::before{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-right: 1em;
}

.notice{
    color: #fff;
}

.notice::before{
    content: "\f005";
    color: #ffedab;
}

.alert{
    color: pink;
}

.alert::before{
    content: "\f12a";
}

/*appヘッダーナビ-----*/

header{
    width: 100%;
    position: fixed;
    z-index: 99;
    top: 0;
    border-bottom: 1px solid;
    height: var(--navbar-height);
    background: rgba(255,255,255,0.9);
    display: flex;
}

header h1{
    height: 100%;
    width: fit-content;
}

header h1 img{
    display: block;
    height: 100%;
}

header .right{
    margin-right: 0;
    margin-left: auto;
    display: flex;
    align-items: center;
    height: 100%;
}

header .right div{
    border-left: 1px solid #ccc;
    padding: 0 10px;
    height: 100%;
}

header .first a{
    display: flex;
    align-items: center;
}

.header_a{
  line-height: var(--navbar-height);
}

header .first .name{
    font-size: 1.2rem;
    padding-right: 8px;
}

header .nav_avator{
    height: 49px;
    width: 49px;
    border-radius: 50%;
    background-color: #fff;
    overflow: hidden;
}

header .nav_avator img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

header .right i{
    font-size: 4.0rem;
    line-height: var(--navbar-height);
}

/*<main>---------*/

main{
    padding-top: var(--navbar-height);
    padding-bottom: 50px;
    min-height: 100vh;
}


/*ページネーション設定*/

.pagination{
    width: 100%;
    display: flex;
    justify-content: center;
}

.pagination span{
    margin: 0 10px;
}

.pagination span.center_space{
    display: block;
    width: 50px;
    margin: 0;
}

.pagination span i{
   line-height: 1.5;
   font-size: 4.0rem;
}

.pagination span i:hover{
  opacity: 0.9;
}

/*------------パンくずリスト-----------------------------*/

.pan{
    list-style-type: none;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 1em;
    font-size: 1em;
    line-height: 2.0;
}

.pan li a{
    color: var(--ac-color);
}

.pan li::after{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f0da";
    padding: 0 1em;
}

.pan li:last-child::after{
    display: none;
}

/*フッターの設定----------------------------------------------------------------*/

footer{
    background: #000;
}

.footer_flexbox{
    display: flex;
    flex-wrap: no-wrap;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    color: #fff;
}

.footer_i{
    max-width: calc(100% / 3);
    margin: 0 auto;
    padding: 25px 0;
}

.footer_i ul{
    font-size: 1em;
    line-height: 2.5;
    list-style-type: circle;
}

.footer_i ul li a{
    color: #ccc;
}

.footer_i ul li a:hover{
    color: var(--ac-color);
}

.footer_logo{
    display: block;
    height: 110px;
    margin: 0 auto;
}

.c{
    background: var(--ac-color);
}

.c .copyright{
    margin: 0;
    padding: 10px 0;
    text-align: center;
    color: #fff;
    font-size: 0.8em;
    display: block;
}


/*利用規約のOLの設定--------------------------------------------------*/

ol.term{
    padding: 0;
    margin: 35px;
}


/*-------------------------------------------------*/


@media screen and (max-width: 415px) {

header .first .name{
    display: none;
}
}

@media screen and (max-width: 639px) {

.footer_flexbox{
    display: inherit;
    padding: 10px 0;
}

.footer_i{
    max-width: 95%;
    border-bottom: 1px solid #fff;
}

.footer_i:last-child{
    border-bottom: none;
}

.footer_i ul{
    width: fit-content;
    margin: 0 auto;
    font-size: 1.6rem;
}

}