/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require jcrop
 */

 
:root{
 --ac-color: #8c9eff;
 --main-color: #000;
 --base-color: #ccc;
 --navbar-height: 50px;
 --font-def: "Helvetica Neue",Arial,"Hiragino Kaku Gothic ProN","Hiragino Sans",Meiryo,sans-serif;
 --font-mincho: "游明朝", YuMincho, "Hiragino Mincho ProN W3", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
}

*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 word-break: break-all;
}

html {
    /* ルートのフォントサイズを10pxに設定しておく */
	font-size: 62.5%;
}

body {
	/* ルートのフォントサイズを1.6em（16pxと同等のサイズ）に設定 */
	font-size: 1.6em;
	font-family: var(--font-def);
}

body p{
    font-size: 1.6rem;
    margin: 0.85em;
}

h2,h3{
    font-family: var(--font-mincho);
    padding: 1.6rem;
}

h2{
    font-size: 2.5rem;
}

h3{
    font-size: 1.9rem;
}

img{
    vertical-align: middle;
}

a{
    text-decoration: none;
    color: var(--main-color);
}

a:hover{
    opacity: 1;
    color: var(--ac-color);
}


.a_line{
    display: block;
    width: 95%;
    border: 2px solid;
    padding: 0.8em;
    margin: 1em auto;
    border-radius: 3px;
    text-align: center;
}

.a_main{
    display: block;
    width: 95%;
    padding: 0.8em;
    margin: 1em auto;
    border-radius: 3px;
    text-align: center;
    background: var(--main-color);
    color: #fff;
}

hr.app{
    border: none;
    background-image: url('hr.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 85%;
    opacity: 0.6;
    width: 100%;
    height: 80px;
}

.center_wrapper{
    width: 750px;
    max-width: 100%;
    margin: 0 auto;
    padding: 10px;
}

/*-----------------------------------------------------*/



/*flashのnotice,alertのdivの指定-------------------*/

.flash_box{
    padding: 1em;
    background: rgba(0,0,0,0.8);
    position: fixed;
    top: var(--navbar-height);
    left: 0;
    width: 100%;
    z-index: 99;
}

.notice{
    color: #fff;
}

.notice::before{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f005";
    margin-right: 1em;
    color: #ffedab;
    vertical-align: middle;
}

.alert{
    color: pink;
}

.alert::before{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f12a";
    margin-right: 1em;
    vertical-align: middle;
}

/*appヘッダーナビ-----*/

header{
    width: 100%;
    position: fixed;
    z-index: 99;
    top: 0;
    border-bottom: 1px solid;
    height: var(--navbar-height);
    background: rgba(255,255,255,0.9);
    display: flex;
    flex-wrap: no-wrap;
}

header h1{
    height: 100%;
}

header h1 img{
    display: block;
    height: 100%;
}

header .right{
    margin-right: 0;
    margin-left: auto;
    display: flex;
    align-items: center;
    height: 100%;
}

header .right div{
    border-left: 1px solid #ccc;
    padding: 0 10px;
    height: 100%;
}

header .first a{
    display: flex;
    align-items: center;
}

header .first .name{
    font-size: 1.2rem;
    padding-right: 8px;
}

header .nav_avator{
    height: 49px;
    width: 49px;
    border-radius: 50%;
    background-color: #fff;
    background-image: url("witch.jpg");
    background-size: contain;
    background-potision: center;
    background-repeat: no-repeat;
    overflow: hidden;
}

header .nav_avator img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

header .right i{
    font-size: 4.0rem;
    line-height: var(--navbar-height);
}

/*<main>---------*/

main{
    padding-top: var(--navbar-height);
}


/*ページネーション設定*/

nav.pagination{
    width: 100%;
    display: flex;
    justify-content: center;
}

nav.pagination span{
    margin: 0 10px;
}

nav.pagination span.center_space{
    display: block;
    width: 50px;
    margin: 0;
}

nav.pagination span i{
   line-height: 1.5;
   font-size: 4.0rem;
}

nav.pagination span i:hover{
  opacity: 0.5;
}

/*------------パンくずリスト-----------------------------*/

.pan{
    list-style-type: none;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0 1em;
    font-size: 1.7rem;
    line-height: 2em;
}

.pan li a{
    color: var(--ac-color);
}

.pan li::after{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f0da";
    padding: 0 1em;
}

/*フッターの設定----------------------------------------------------------------*/

footer{
    background: #000;
}

.footer_flexbox{
    display: flex;
    flex-wrap: no-wrap;
    width: 100%;
    justify-content: space-around;
    align-items: top;
    padding: 25px 0;
    color: #fff;
}

.footer_i{
    max-width: calc(100% / 3);
    margin: 0 auto;
    padding: 10px;
}

.footer_i ul{
    font-size: 1.5rem;
    line-height: 2em;
    list-style-type: circle;
}

.footer_i ul li a{
    color: #ccc;
}

.footer_i ul li a:hover{
    color: var(--ac-color);
}

.footer_logo{
    display: block;
    width: 200px;
    margin: 0 auto;
    max-width: 100%;
}

.c{
    background: var(--ac-color);
}

.c p{
    margin: 0;
    padding: 10px 0;
    text-align: center;
    color: #fff;
}


/*利用規約のOLの設定--------------------------------------------------*/

ol{
    padding: 0;
    margin: 35px;
}


/*-------------------------------------------------*/


@media screen and (max-width: 415px) {

header .first .name{
    display: none;
}
}

@media screen and (max-width: 639px) {

.footer_flexbox{
    display: inherit;
    padding: 10px 0;
}

.footer_i{
    max-width: 95%;
    border-bottom: 1px solid #fff;
}

.footer_i:last-child{
    border-bottom: none;
}

.footer_i ul{
    width: fit-content;
    margin: 0 auto;
    font-size: 1.6rem;
}

}