
.croparea_box{
  max-width: 100%;/* モーダルの幅 */
  width: 500px;
  height: 500px;
  background: var(--base-color);
  overflow-x: scroll;
  overflow-y: scroll;
  overflow-scrolling: touch;
-webkit-overflow-scrolling: touch;
position: relative;
}

.croparea_box img{
    position: absolute;
    display: block;
    width: auto;
    height: auto;
    top: 0;
    left: 0;
    background: #ccc;
}

.preview_box{
    width: 120px;
    height: 120px;
    overflow: hidden;
    box-shadow: 4px 4px 0px var(--base-color);
}
