// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";
@import "rails_bootstrap_forms";

body{
    font-family: "meiryo";
}

.form_wrapper{
    max-width: 100%;
    width: 700px;
    margin: 0 auto;
    padding: 2em 10px;
}

.field{
    margin: 20px 0;
}

.remove_checkbox{
    width: fit-content;
    margin: 0 auto;
}

.actions{
    margin: 2.5em 0;
    text-align: center;
}

/*既存の添付画像がはみ出ないように設定------------------------------------*/

.attached_img_area{
    width: 300px;
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
}

.attached_img_area img{
 max-width: 100%;
 max-height: 100%;
 width: auto;
 height: auto;
}

#countable p{
    text-align: right;
    color: rgba(0,0,0,0.7);
    font-size: 14px;
}

a{
    color: var(--main-color);
    text-decoration: none;
}

a:hover{
    color: red;
}

.form_wrapper p{
    margin: 0;
    padding: 0.8em;
    font-size: 14px;
    color: #6c272d;
}

.min{
    display: block;
    text-align: right;
    font-size: 0.8em;
}

textarea {
  /* 要素のサイズを可変から固定にする */
  resize: none;
  /* 要素がスクロールしないようにする */
  overflow: hidden;
}

.form-control{
    padding: 0.8em;/*インプットエリアの余白を指定*/
    border-radius: 0;
    border: none;
    background: #daebf2;
}

.form-control:focus{
    background: #f2daee;
}


input[type=file]{
    background: #f2daee;
    padding: 0.8em 1.5em;
    border-radius: 25px;
    width: 100%;
}

input[type=submit]{
    background: #eeeaec;
    color: #000;
    padding: 0.5em 1em;
}

input[type=submit]:hover{
     background: transparent;
     color: #000;
}

.custom-file-label{
    display: none;
}