// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";
@import "rails_bootstrap_forms";

body{
    font-family: "meiryo";
}

.form_wrapper{
    max-width: 100%;
    width: 700px;
    margin: 0 auto;
    padding: 0 10px;
}

.field{
    margin: 1em 0;
}

.actions{
    margin: 2.5em 0;
}

#countable p{
    text-align: right;
    color: rgba(0,0,0,0.7);
    font-size: 14px;
}

a{
    color: var(--main-color);
    text-decoration: none;
}

a:hover{
    color: red;
}

.form_wrapper p{
    margin: 0;
    padding: 0.8em;
    font-size: 14px;
    color: #6c272d;
}

.min{
    display: block;
    text-align: right;
    font-size: 0.8em;
}

input{
    width: 100%;
}

textarea {
  /* 要素のサイズを可変から固定にする */
  resize: none;
  /* 要素がスクロールしないようにする */
  overflow: hidden;
}


input[type=submit]{
    background: #eeeaec;
    color: #000;
}

input[type=submit]:hover{
     background: transparent;
     color: #000;
}

.custom-file-label{
    display: none;
}