
:root{
    --item-box-w: 60vw;
    --item-c: 3;
}

.me_container{ 
 width: 90vw;
 margin: 0 auto;
 display: flex;
}

.me_container .side{
    width: 25vw;
    outline: 1px solid;
}

.me_container .main{
    width: 65vw;
}



/*--------------------------------------------------*/

/*------------------------------------*/

.me_container .header_area{
    width: 100%;
    height: 300px;
    overflow: hidden;
    background-image: url('me_header.png');
    background-color: #000;
    background-position: center;
}

.me_container .header_area img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*---------------------------------------------*/

.me_container .prof_z{
    width: 100%;
    height: 200px;
    position: relative;
}

.me_container .prof_box{
    max-width: 100%;
    height: calc(100% + 50px);
    position: absolute;
    left: 0;
    right: 0;
    top: -50px;
    margin: auto;
}

.me_container .main_avator{
    width: 100px;
    height: 100px;
    border-radius: 20%;
    border: 3px solid;
    background-color: #fff;
    background-image: url('icon.jpg');
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}

.me_container .main_avator img{
    display: block;
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.me_container .user_info{
    height: calc(100% - 100px);
    overflow-y: scroll;
    padding: 20px;
}

.user_info .pagetitle{
    display: block;
    font-weight: bold;
    font-size: 17px;
}

.user_info .user_name{
    display: block;
}

/*---------------------------------------------------*/


.me_container ul.side_menu{
    list-style-type: none;
}

.me_container .side_menu li{
    padding: 20px;
}

@media screen and (max-width: 769px) {
    
    :root{
    --item-box-w: 95vw;
    --item-c: 2;
}
    

    .me_container{
        display: inherit;
        width: 100%;/*vwじゃなくてパーセント指定*/
    }
    
    .me_container .side{
        width: 100%;
    }
    
    .me_container .main{
        width: 100%;
        padding: 0;
    }
    
    .me_container .main_avator{
        margin: 0 auto;
    }
    
    .me_container .user_info{
        text-align: center;
}
    
}