@import "basic_grid_partial";

:root{
    --avatar-size: 120px;
}

.me_container{ 
 width: 95vw;
 margin: 0 auto;
 display: flex;
}

.me_container .side{
    width: 25vw;
    border: 1px solid;
    padding-bottom: 20px;
}

.me_container .main{
    width: 70vw;
    background: pink;
}



/*--------------------------------------------------*/

/*------------------------------------*/

.me_container .header_area{
    width: 100%;
    height: 300px;
    overflow: hidden;
    background-image: url('dia.png');
    background-color: #000;
    background-position: center;
}

.me_container .header_area img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*---------------------------------------------*/

.me_container .prof_z{
    width: 100%;
    height: 250px;
    position: relative;
}

.me_container .prof_box{
    width: 100%;
    height: calc(100% + 50px);
    position: absolute;
    left: 0;
    top: -50px;
}

.me_container .prof_box::after{
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 25%;
    background: linear-gradient(to top,#fff,transparent);
}

.me_container .main_avator{
    width: var(--avatar-size);
    height: var(--avator-size);
    border-radius: 20%;
    border: 2px solid #fafafa;
    background-color: #fff;
    background-image: url('witch.jpg');
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    box-shadow: 0 0 0px 3px #000;
}

.me_container .main_avator img{
    display: block;
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.me_container .user_info{
    height: calc(100% - var(--avatar-size));
    overflow-y: scroll;
    padding: 20px;
}

.user_info .pagetitle{
    display: block;
    font-weight: bold;
    font-size: 1.75rem;
}

.user_info .user_name{
    display: block;
    font-size: 1.6rem;
    color: rgba(0,0,0,0.8);
    padding: 0.3em;
}

.user_info .prof_text{
    font-size: 1.5rem;
}

/*---------------------------------------------------*/


.me_container ul.side_menu{
    list-style-type: none;
}

.me_container .side_menu li{
    padding: 20px;
}

@media screen and (max-width: 769px) {
    
    

    .me_container{
        display: inherit;
        width: 100%;/*vwじゃなくてパーセント指定*/
    }
    
    .me_container .side{
        width: 100%;
        border: none;
    }
    
    .me_container .main{
        width: 100%;
    }
    
    .me_container .main_avator{
        margin: 0 auto;
    }
    
    .me_container .user_info{
        text-align: center;
}
    
}