@import "basic_grid_partial";

:root{
    --avatar-size: 120px;
}

.me_container{ 
 width: 95vw;
 margin: 0 auto;
 margin-top: 10px;
 display: flex;
}

.me_container .side{
    width: 25vw;
    border: 1px solid;
}

.me_container .main{
    width: 70vw;
    background: pink;
}



/*--------------------------------------------------*/

/*------------------------------------*/

.me_container .header_area{
    width: 100%;
    height: 300px;
    overflow: hidden;
    background-image: url('dia.png');
    background-color: #000;
    background-position: center;
}

.me_container .header_area img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*---------------------------------------------*/

.me_container .prof_z{
    width: 100%;
    height: 230px;
    position: relative;
}

.me_container .prof_box{
    width: 100%;
    height: calc(100% + 60px);
    position: absolute;
    left: 0;
    top: -60px;
}

.me_container .prof_box::after{
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 25%;
    background: linear-gradient(to top,#fff,transparent);
}

.me_container .main_avator{
    width: var(--avatar-size);
    height: var(--avator-size);
    border-radius: 20%;
    border: 2px solid #fafafa;
    background-color: #fff;
    background-image: url('witch.jpg');
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    box-shadow: 0 0 0px 3px #000;
}

.me_container .main_avator img{
    display: block;
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.me_container .user_info{
    height: calc(100% - var(--avatar-size));
    overflow-y: scroll;
    padding: 20px;
}

.user_info .pagetitle{
    display: block;
    font-weight: bold;
    font-size: 1.67rem;
}

.user_info .user_name{
    display: block;
    font-size: 1.6rem;
    color: rgba(0,0,0,0.8);
    padding: 0.3em;
}

.user_info .prof_text{
    font-size: 1.5rem;
}

/*---------------------------------------------------*/


.me_container .her_side_menu{
    list-style-type: none;
    padding: 7px;
}

.me_container .her_side_menu li{
  border: 2px solid rgba(0,0,0,0.2);
  border-radius: 3px;
  margin-bottom: 7px;
}

.me_container .her_side_menu li a{
    display: block;
    padding: 1em;
    font-size: 1.4rem;
}

.me_container .her_side_menu li a:hover{
    color: inherit;
    opacity: 0.7;
}

.me_container .her_side_menu li a::before{
 font-family: "Font Awesome 5 Free";
 font-weight: 900;
 font-size: 2.5rem;
 padding-right: 0.7em;
 color: var(--ac-color);
 vertical-align: middle;
}

.her_side_menu .post::before{
  content: "\f302";
}

.her_side_menu .article::before{
  content: "\f036";
}

.her_side_menu .tag::before{
  content: "\f292";
}




@media screen and (max-width: 769px) {
    

    .me_container{
        display: inherit;
        width: 100%;/*vwじゃなくてパーセント指定*/
        margin: 0;
    }
    
    .me_container .side{
        width: 100%;
        border: none;
    }
    
    .me_container .main{
        width: 100%;
    }
    
    .me_container .main_avator{
        margin: 0 auto;
    }
    
    .me_container .user_info{
        text-align: center;
}

.her_side_menu{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0;
    text-align: center;
}

.her_side_menu li{
    width: calc(100% / 3);
    height: 100%;
    margin: 0 4px;
}

.her_side_menu li a{
    margin: 0;
    font-size: 1.2rem;
}

.her_side_menu li a::before{
    display: block;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 5px;
    padding: 0;
}
    
}