@import "basic_grid_partial";


.me_container{ 
 width: 95vw;
 margin: 0 auto;
 margin-top: 10px;
 display: flex;
}

.me_container .side{
    width: 25vw;
    border: 1px solid;
    background: var(--base-color);
    height: fit-content;
}

.me_container .main{
    width: 70vw;
    height: auto;
}



/*--------------------------------------------------*/

/*------------------------------------*/

.me_container .header_area{
    width: 100%;
    height: 300px;
    overflow: hidden;
    background-image: url('dia.png');
    background-color: #000;
    background-position: center;
}

.me_container .header_area img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

/*---------------------------------------------*/



.me_container .main_avator{
    width: 120px;
    height: 120px;
    border-radius: 20%;
    border: 3px solid var(--base-color);
    background-color: #fff;
    background-image: url('witch.jpg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    overflow: hidden;
    
    position: relative;
    top: -60px;
    left: 0;
    margin-bottom: -60px;
    z-index: 5;
}

.me_container .main_avator img{
    display: block;
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.me_container .user_info{
    padding: 15px;
}

.user_info .pagetitle{
    display: block;
    font-weight: bold;
    font-size: 1.1em;
}

.user_info .user_name{
    display: block;
    font-size: 0.95em;
    color: rgba(0,0,0,0.8);
    padding: 0.3em;
}

.user_info .prof_text{
    font-size: 1em;
}

/*---------------------------------------------------*/


.me_container .her_side_menu{
    list-style-type: none;
    padding: 15px 7px;
}

.me_container .her_side_menu li{
  margin-bottom: 7px;
}

.me_container .her_side_menu li a{
    display: block;
    padding: 1em;
    font-size: 1.4rem;
    letter-spacing: 0.5px;
    background: #000;
    color: var(--base-color);
}

.me_container .her_side_menu li a:hover{
    opacity: 0.7;
}

.me_container .her_side_menu li a::before{
 font-family: "Font Awesome 5 Free";
 font-weight: 900;
 font-size: 2.5rem;
 padding-right: 0.7em;
 color: var(--ac-color);
 vertical-align: middle;
}

.her_side_menu .posts::before{
  content: "\f302";
}

.her_side_menu .articles::before{
  content: "\f036";
}

.her_side_menu .tags::before{
  content: "\f292";
}




@media screen and (max-width: 769px) {
    

    .me_container{
        display: inherit;
        width: 100%;/*vwじゃなくてパーセント指定*/
        margin: 0;
    }
    
    .me_container .side{
        width: 100%;
        border: none;
        border-bottom: 1px dashed;
        margin-bottom: 10px;
    }
    
    .me_container .main{
        width: 100%;
    }
    
    .me_container .main_avator{
        margin: 0 auto;
        margin-bottom: -60px;
    }
    
    .me_container .user_info{
        text-align: center;
}

.her_side_menu{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0;
    text-align: center;
}

.her_side_menu li{
    width: calc(100% / 3);
    height: 100%;
    margin: 0 4px;
}

.her_side_menu li a{
    margin: 0;
    font-size: 1.2rem;
}

.her_side_menu li a::before{
    display: block;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 5px;
    padding: 0;
}
    
}