.article_container{
    background: #ccc;
    margin: 0 auto;
    width: 600px;
    max-width: 100%;
}

.photo_area{
    width: 100%;
    height: 300px;
    position: relative;
    background: pink;
}

.photo_area img{
    position: absolute;
    top: 0;
    display: block;
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.photo_area::after{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 300px;
    top: 0;
    background: linear-gradient(to bottom,transparent 50%,#fff);
}

.body_area{
    background: #fff;
    padding: 20px;
}

.show_nav{
    display: flex;
    justify-content: center;
    width: 100%;
}

.show_nav .show_nav_item{
    text-align: center;
    width: 50%;
}

.show_nav_item span{
    display: block;
    width: 80px;
    height: 80px;
    background: #ccc;
    border: 2px solid;
    border-radius: 50%;
    margin: 0 auto;
    overflow: hidden;
}

.show_nav_item span img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.show_nav_item a{
    text-decoration: none;
    color: #000;
}
