<p>こんにちは！ Dsplay運営事務局です。</p>

<% if @resource.unconfirmed_email %>
<p>いつもDsplayをご利用いただきありがとうございます。<br>
下記のリンクをクリックすると、ご登録のメールアドレスが変更されます。</p>
<% else %>
<p>このたびはDsplayへの新規ご登録ありがとうございます。<br>
現在、仮登録中となっていますので、下記のリンクをクリックしてユーザー登録を完了してください。</p>
<% end %>

<p><%= link_to 'メールアドレス確認', controller: 'users/confirmations', action: 'create', confirmation_token: @token %></p>

<p>恐れ入りますが、心当たりがない場合は本メッセージは破棄してください。</p>

<p>※このメールはシステムによる自動送信メッセージです。<br>
こちらのメールへ直接ご返信をいただいても、お答えすることができません。</p>

<p>ご質問やご不明な点がありましたら、以下のご連絡先までお問合せくださいますようお願いします。</p>

<p>★---------------------------------------------------------★</p>

<p>
【Dsplay】～自分の作品がもっと好きになる　創作系投稿サービス～<br>
https://dsplay.herokuapp.com/<br>
ご連絡先（運営者メールアドレス）：info@dsplay.icu
</p>

<p>★---------------------------------------------------------★</p>