<p>こんにちは！　Dsplay運営事務局です</p>

<p>
いつもDsplayをご利用いただきありがとうございます。<br>
パスワードの再設定のリクエストを受け付けました。 下のリンクをクリックして新しいパスワードを設定してください。</p>

<p><%= link_to 'パスワードの再設定', edit_password_url(@user, reset_password_token: @token) %></p>

<p>上記のリンクにアクセスして新しいパスワードを作成するまで、パスワードは変更されません。</p>

<p>恐れ入りますが、心当たりがない場合は本メッセージは破棄してください。</p>

<p>※このメールはシステムからの自動送信メッセージです。<br>
こちらのメールへ直接ご返信をいただいても、お答えすることができません。</p>

<p>ご質問やご不明な点がありましたら、以下のご連絡先までお問合せくださいますようお願いします。</p>

<p>★---------------------------------------------------------★</p>

<p>
【Dsplay】～自分の作品がもっと好きになる　創作系投稿サービス～<br>
https://dsplay.herokuapp.com/<br>
ご連絡先（運営者メールアドレス）：info@dsplay.icu
</p>

<p>★---------------------------------------------------------★</p>