
<div class="center_wrapper">
      <h2>新規アカウント作成のためのメール認証のお手続きが完了しました</h2>

      <p>「Dsplay」への新規ご登録ありがとうございます。<br>
        現在、仮登録状態となっています。</p>

      <p>ただいま、登録フォームにご入力いただいたメールアドレス宛に、ご本人様確認用のメールをお送りしました。</p>

      <p>メール本文内のURLをクリックすると本登録が完了となります。<br>お手数ですが、ご確認いただきますようお願いします。</p>
      
        <%= link_to "ホームへもどる", root_path, class: "a_line" %>
</div>