
<div class="center_wrapper">
  
  <h2>仮登録完了</h2>
      <p>新規アカウント作成のためのメール認証のお手続きが完了しました。</p>

      <p>「Dsplay」への新規登録のご申請をいただき、誠にありがとうございます。<br>
        <em>現在、仮登録状態となっています。</em></p>

      <p>ただいま、登録フォームにご入力いただいたメールアドレス宛に、ご本人様確認用のメールをお送りしました。</p>

      <p><strong>メール本文内の「メールアドレス確認」というテキストリンクにアクセスすると、本登録が完了となります。</strong><br>お手数ですが、認証メールのご確認をお願いします。</p>
      
        <%= link_to "ホームへもどる", root_path, class: "a_line" %>
</div>